<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="labwork38.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <labwork38.Properties.Settings>
            <setting name="score" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="clickValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="passiveValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="energyValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="energyTimeValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="clickCost" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="energyCost" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="energyTimeCost" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="activeCrit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activeInfin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activeSkin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activeCapibara" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activeRangeKIM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="win" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kIMCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rarePizzaCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bathCount" serializeAs="String">
                <value>0</value>
            </setting>
        </labwork38.Properties.Settings>
    </userSettings>
</configuration>